MyFramework/App_WebReferences/travelSky/TravelJSJ.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://172.16.8.8/TravelCommonOperation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://172.16.8.8/TravelCommonOperation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://172.16.8.8/TravelCommonOperation">
      <s:element name="DeletePNR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPNR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePNRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletePNRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RTPNR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPNR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RTPNRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RTPNRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPNRInstance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPNR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPNRInstanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPNRInstanceResult" type="tns:PNREntity" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PNREntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="PNR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CT" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TKT" type="tns:Issue" />
          <s:element minOccurs="0" maxOccurs="1" name="PassengerList" type="tns:ArrayOfPassenger" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightSegmentList" type="tns:ArrayOfFlightSegmentEntity" />
          <s:element minOccurs="0" maxOccurs="1" name="ContactList" type="tns:ArrayOfContact" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketList" type="tns:ArrayOfTicket" />
          <s:element minOccurs="0" maxOccurs="1" name="RemarkList" type="tns:ArrayOfRemark" />
          <s:element minOccurs="0" maxOccurs="1" name="PNRText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CompanyPNR" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Issue">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DateOfIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeOfIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OfficeCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DateLimitedOfIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TimeLimitedOfIssue" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CabinSeat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightDate" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPassenger">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Passenger" nillable="true" type="tns:Passenger" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Passenger">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BirthDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CountryCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Airline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActiveCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SequenceNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketNo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfFlightSegmentEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="FlightSegmentEntity" nillable="true" type="tns:FlightSegmentEntity" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FlightSegmentEntity">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FlightNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CabinSeat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Departure" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Arrival" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActiveCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrivalTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="WeekShort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DeparturePort" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArrivalPort" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfContact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Contact" nillable="true" type="tns:Contact" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Contact">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Phone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmployeeNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTicket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ticket" nillable="true" type="tns:Ticket" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ticket">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Airline" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ActiveCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SeatNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Departure" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Arrival" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CabinSeat" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SegmentNumber" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SequenceNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRemark">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Remark" nillable="true" type="tns:Remark" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Remark">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RemarkContent" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SellSeat">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ssCommand" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SellSeatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SellSeatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PATA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FlightNum" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="StartAirPort" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EndAirPort" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FlightDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Cabin" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PATAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PATAResult" type="tns:PatResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="PatResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="ActiveCode" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FlightPrice" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="PatString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TicketPrice" type="tns:TicketPrice" />
          <s:element minOccurs="0" maxOccurs="1" name="CHTicketPrice" type="tns:TicketPrice" />
          <s:element minOccurs="0" maxOccurs="1" name="INFTicketPrice" type="tns:TicketPrice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TicketPrice">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="FlightPrice" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="AirportTax" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="FuelTax" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="Issue">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PNR" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Fee" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="EIStr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IssueResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IssueResult" type="tns:IssueResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="IssueResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Result" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RTPNRAndPATA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strPNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strRTPNR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RTPNRAndPATAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RTPNRAndPATAResult" type="tns:PatResult" />
            <s:element minOccurs="0" maxOccurs="1" name="strRTPNR" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FD">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strOriginalAirport" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strDestinationAirport" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strFlightDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strCarrier" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="isExistPrice" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FDResult" type="tns:ArrayOfCabinSeatPrice" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCabinSeatPrice">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CabinSeatPrice" nillable="true" type="tns:CabinSeatPrice" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CabinSeatPrice">
        <s:complexContent mixed="false">
          <s:extension base="tns:AirResult">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TPM" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Farebase" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Totle" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NotValidBefore" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NotValidAfter" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Class" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ReturnClass" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="ClassDescription" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="AirResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AirDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OriginalAirport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DestinationAirport" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AirLine" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DepartureTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ArriveTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FlightType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ASR" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Meal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Link" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FuelTax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AirportTax" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Etkt" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Stops" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Yprice" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SeatList" type="tns:ArrayOfSeat" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSeat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Seat" nillable="true" type="tns:Seat" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Seat">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Cabin" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Count" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Price" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubCanbin" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RMKAuthorize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PNR" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="officeNo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="updateType" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RMKAuthorizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RMKAuthorizeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="PNREntity" nillable="true" type="tns:PNREntity" />
      <s:element name="PatResult" nillable="true" type="tns:PatResult" />
      <s:element name="IssueResult" nillable="true" type="tns:IssueResult" />
      <s:element name="ArrayOfCabinSeatPrice" nillable="true" type="tns:ArrayOfCabinSeatPrice" />
      <s:element name="boolean" type="s:boolean" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeletePNRSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePNR" />
  </wsdl:message>
  <wsdl:message name="DeletePNRSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePNRResponse" />
  </wsdl:message>
  <wsdl:message name="RTPNRSoapIn">
    <wsdl:part name="parameters" element="tns:RTPNR" />
  </wsdl:message>
  <wsdl:message name="RTPNRSoapOut">
    <wsdl:part name="parameters" element="tns:RTPNRResponse" />
  </wsdl:message>
  <wsdl:message name="GetPNRInstanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPNRInstance" />
  </wsdl:message>
  <wsdl:message name="GetPNRInstanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPNRInstanceResponse" />
  </wsdl:message>
  <wsdl:message name="SellSeatSoapIn">
    <wsdl:part name="parameters" element="tns:SellSeat" />
  </wsdl:message>
  <wsdl:message name="SellSeatSoapOut">
    <wsdl:part name="parameters" element="tns:SellSeatResponse" />
  </wsdl:message>
  <wsdl:message name="PATASoapIn">
    <wsdl:part name="parameters" element="tns:PATA" />
  </wsdl:message>
  <wsdl:message name="PATASoapOut">
    <wsdl:part name="parameters" element="tns:PATAResponse" />
  </wsdl:message>
  <wsdl:message name="IssueSoapIn">
    <wsdl:part name="parameters" element="tns:Issue" />
  </wsdl:message>
  <wsdl:message name="IssueSoapOut">
    <wsdl:part name="parameters" element="tns:IssueResponse" />
  </wsdl:message>
  <wsdl:message name="RTPNRAndPATASoapIn">
    <wsdl:part name="parameters" element="tns:RTPNRAndPATA" />
  </wsdl:message>
  <wsdl:message name="RTPNRAndPATASoapOut">
    <wsdl:part name="parameters" element="tns:RTPNRAndPATAResponse" />
  </wsdl:message>
  <wsdl:message name="FDSoapIn">
    <wsdl:part name="parameters" element="tns:FD" />
  </wsdl:message>
  <wsdl:message name="FDSoapOut">
    <wsdl:part name="parameters" element="tns:FDResponse" />
  </wsdl:message>
  <wsdl:message name="RMKAuthorizeSoapIn">
    <wsdl:part name="parameters" element="tns:RMKAuthorize" />
  </wsdl:message>
  <wsdl:message name="RMKAuthorizeSoapOut">
    <wsdl:part name="parameters" element="tns:RMKAuthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePNRHttpGetIn">
    <wsdl:part name="strPNR" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeletePNRHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RTPNRHttpGetIn">
    <wsdl:part name="strPNR" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RTPNRHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPNRInstanceHttpGetIn">
    <wsdl:part name="strPNR" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPNRInstanceHttpGetOut">
    <wsdl:part name="Body" element="tns:PNREntity" />
  </wsdl:message>
  <wsdl:message name="SellSeatHttpGetIn">
    <wsdl:part name="ssCommand" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SellSeatHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PATAHttpGetIn">
    <wsdl:part name="FlightNum" type="s:string" />
    <wsdl:part name="StartAirPort" type="s:string" />
    <wsdl:part name="EndAirPort" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Cabin" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PATAHttpGetOut">
    <wsdl:part name="Body" element="tns:PatResult" />
  </wsdl:message>
  <wsdl:message name="IssueHttpGetIn">
    <wsdl:part name="PNR" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
    <wsdl:part name="Fee" type="s:string" />
    <wsdl:part name="EIStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IssueHttpGetOut">
    <wsdl:part name="Body" element="tns:IssueResult" />
  </wsdl:message>
  <wsdl:message name="FDHttpGetIn">
    <wsdl:part name="strOriginalAirport" type="s:string" />
    <wsdl:part name="strDestinationAirport" type="s:string" />
    <wsdl:part name="strFlightDate" type="s:string" />
    <wsdl:part name="strCarrier" type="s:string" />
    <wsdl:part name="isExistPrice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FDHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfCabinSeatPrice" />
  </wsdl:message>
  <wsdl:message name="RMKAuthorizeHttpGetIn">
    <wsdl:part name="PNR" type="s:string" />
    <wsdl:part name="officeNo" type="s:string" />
    <wsdl:part name="updateType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RMKAuthorizeHttpGetOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:message name="DeletePNRHttpPostIn">
    <wsdl:part name="strPNR" type="s:string" />
  </wsdl:message>
  <wsdl:message name="DeletePNRHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="RTPNRHttpPostIn">
    <wsdl:part name="strPNR" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RTPNRHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPNRInstanceHttpPostIn">
    <wsdl:part name="strPNR" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPNRInstanceHttpPostOut">
    <wsdl:part name="Body" element="tns:PNREntity" />
  </wsdl:message>
  <wsdl:message name="SellSeatHttpPostIn">
    <wsdl:part name="ssCommand" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SellSeatHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PATAHttpPostIn">
    <wsdl:part name="FlightNum" type="s:string" />
    <wsdl:part name="StartAirPort" type="s:string" />
    <wsdl:part name="EndAirPort" type="s:string" />
    <wsdl:part name="FlightDate" type="s:string" />
    <wsdl:part name="Cabin" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PATAHttpPostOut">
    <wsdl:part name="Body" element="tns:PatResult" />
  </wsdl:message>
  <wsdl:message name="IssueHttpPostIn">
    <wsdl:part name="PNR" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
    <wsdl:part name="Fee" type="s:string" />
    <wsdl:part name="EIStr" type="s:string" />
  </wsdl:message>
  <wsdl:message name="IssueHttpPostOut">
    <wsdl:part name="Body" element="tns:IssueResult" />
  </wsdl:message>
  <wsdl:message name="FDHttpPostIn">
    <wsdl:part name="strOriginalAirport" type="s:string" />
    <wsdl:part name="strDestinationAirport" type="s:string" />
    <wsdl:part name="strFlightDate" type="s:string" />
    <wsdl:part name="strCarrier" type="s:string" />
    <wsdl:part name="isExistPrice" type="s:string" />
  </wsdl:message>
  <wsdl:message name="FDHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfCabinSeatPrice" />
  </wsdl:message>
  <wsdl:message name="RMKAuthorizeHttpPostIn">
    <wsdl:part name="PNR" type="s:string" />
    <wsdl:part name="officeNo" type="s:string" />
    <wsdl:part name="updateType" type="s:string" />
  </wsdl:message>
  <wsdl:message name="RMKAuthorizeHttpPostOut">
    <wsdl:part name="Body" element="tns:boolean" />
  </wsdl:message>
  <wsdl:portType name="TravelJsjSoap">
    <wsdl:operation name="DeletePNR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除已有的PNR，成功返回“OK”，否则返回Error开头的错误信息，调用失败返回ERROR。参数说明：pnrNo为PNR码</wsdl:documentation>
      <wsdl:input message="tns:DeletePNRSoapIn" />
      <wsdl:output message="tns:DeletePNRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RTPNR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提取旅客订座记录，成功返回结果，否则返回Error开头的错误信息，调用失败返回ERROR。参数说明：pnrNo为PNR码</wsdl:documentation>
      <wsdl:input message="tns:RTPNRSoapIn" />
      <wsdl:output message="tns:RTPNRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPNRInstance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提取旅客订座记录，成功返回PNREntity对象，否则返回Null。参数说明：PNR</wsdl:documentation>
      <wsdl:input message="tns:GetPNRInstanceSoapIn" />
      <wsdl:output message="tns:GetPNRInstanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SellSeat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">定票函数。参数说明：ssrcmd黑屏预订命令</wsdl:documentation>
      <wsdl:input message="tns:SellSeatSoapIn" />
      <wsdl:output message="tns:SellSeatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PATA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pat价格</wsdl:documentation>
      <wsdl:input message="tns:PATASoapIn" />
      <wsdl:output message="tns:PATASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">出票方法</wsdl:documentation>
      <wsdl:input message="tns:IssueSoapIn" />
      <wsdl:output message="tns:IssueSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RTPNRAndPATA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提取旅客订座记录并PATA价格，成功返回结果，否则返回Error开头的错误信息，调用失败返回ERROR。参数说明：strPNR为PNR码</wsdl:documentation>
      <wsdl:input message="tns:RTPNRAndPATASoapIn" />
      <wsdl:output message="tns:RTPNRAndPATASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">FD价格信息</wsdl:documentation>
      <wsdl:input message="tns:FDSoapIn" />
      <wsdl:output message="tns:FDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RMKAuthorize">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改PNR授权 成功返回true，否则返回false （updateType：1 添加，2  删除， 3  修改 ）</wsdl:documentation>
      <wsdl:input message="tns:RMKAuthorizeSoapIn" />
      <wsdl:output message="tns:RMKAuthorizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TravelJsjHttpGet">
    <wsdl:operation name="DeletePNR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除已有的PNR，成功返回“OK”，否则返回Error开头的错误信息，调用失败返回ERROR。参数说明：pnrNo为PNR码</wsdl:documentation>
      <wsdl:input message="tns:DeletePNRHttpGetIn" />
      <wsdl:output message="tns:DeletePNRHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RTPNR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提取旅客订座记录，成功返回结果，否则返回Error开头的错误信息，调用失败返回ERROR。参数说明：pnrNo为PNR码</wsdl:documentation>
      <wsdl:input message="tns:RTPNRHttpGetIn" />
      <wsdl:output message="tns:RTPNRHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPNRInstance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提取旅客订座记录，成功返回PNREntity对象，否则返回Null。参数说明：PNR</wsdl:documentation>
      <wsdl:input message="tns:GetPNRInstanceHttpGetIn" />
      <wsdl:output message="tns:GetPNRInstanceHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SellSeat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">定票函数。参数说明：ssrcmd黑屏预订命令</wsdl:documentation>
      <wsdl:input message="tns:SellSeatHttpGetIn" />
      <wsdl:output message="tns:SellSeatHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PATA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pat价格</wsdl:documentation>
      <wsdl:input message="tns:PATAHttpGetIn" />
      <wsdl:output message="tns:PATAHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">出票方法</wsdl:documentation>
      <wsdl:input message="tns:IssueHttpGetIn" />
      <wsdl:output message="tns:IssueHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="FD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">FD价格信息</wsdl:documentation>
      <wsdl:input message="tns:FDHttpGetIn" />
      <wsdl:output message="tns:FDHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="RMKAuthorize">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改PNR授权 成功返回true，否则返回false （updateType：1 添加，2  删除， 3  修改 ）</wsdl:documentation>
      <wsdl:input message="tns:RMKAuthorizeHttpGetIn" />
      <wsdl:output message="tns:RMKAuthorizeHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TravelJsjHttpPost">
    <wsdl:operation name="DeletePNR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">删除已有的PNR，成功返回“OK”，否则返回Error开头的错误信息，调用失败返回ERROR。参数说明：pnrNo为PNR码</wsdl:documentation>
      <wsdl:input message="tns:DeletePNRHttpPostIn" />
      <wsdl:output message="tns:DeletePNRHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RTPNR">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提取旅客订座记录，成功返回结果，否则返回Error开头的错误信息，调用失败返回ERROR。参数说明：pnrNo为PNR码</wsdl:documentation>
      <wsdl:input message="tns:RTPNRHttpPostIn" />
      <wsdl:output message="tns:RTPNRHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPNRInstance">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">提取旅客订座记录，成功返回PNREntity对象，否则返回Null。参数说明：PNR</wsdl:documentation>
      <wsdl:input message="tns:GetPNRInstanceHttpPostIn" />
      <wsdl:output message="tns:GetPNRInstanceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SellSeat">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">定票函数。参数说明：ssrcmd黑屏预订命令</wsdl:documentation>
      <wsdl:input message="tns:SellSeatHttpPostIn" />
      <wsdl:output message="tns:SellSeatHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PATA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Pat价格</wsdl:documentation>
      <wsdl:input message="tns:PATAHttpPostIn" />
      <wsdl:output message="tns:PATAHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">出票方法</wsdl:documentation>
      <wsdl:input message="tns:IssueHttpPostIn" />
      <wsdl:output message="tns:IssueHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="FD">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">FD价格信息</wsdl:documentation>
      <wsdl:input message="tns:FDHttpPostIn" />
      <wsdl:output message="tns:FDHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="RMKAuthorize">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">修改PNR授权 成功返回true，否则返回false （updateType：1 添加，2  删除， 3  修改 ）</wsdl:documentation>
      <wsdl:input message="tns:RMKAuthorizeHttpPostIn" />
      <wsdl:output message="tns:RMKAuthorizeHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TravelJsjSoap" type="tns:TravelJsjSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeletePNR">
      <soap:operation soapAction="http://172.16.8.8/TravelCommonOperation/DeletePNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RTPNR">
      <soap:operation soapAction="http://172.16.8.8/TravelCommonOperation/RTPNR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPNRInstance">
      <soap:operation soapAction="http://172.16.8.8/TravelCommonOperation/GetPNRInstance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellSeat">
      <soap:operation soapAction="http://172.16.8.8/TravelCommonOperation/SellSeat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PATA">
      <soap:operation soapAction="http://172.16.8.8/TravelCommonOperation/PATA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <soap:operation soapAction="http://172.16.8.8/TravelCommonOperation/Issue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RTPNRAndPATA">
      <soap:operation soapAction="http://172.16.8.8/TravelCommonOperation/RTPNRAndPATA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FD">
      <soap:operation soapAction="http://172.16.8.8/TravelCommonOperation/FD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RMKAuthorize">
      <soap:operation soapAction="http://172.16.8.8/TravelCommonOperation/RMKAuthorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TravelJsjSoap12" type="tns:TravelJsjSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeletePNR">
      <soap12:operation soapAction="http://172.16.8.8/TravelCommonOperation/DeletePNR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RTPNR">
      <soap12:operation soapAction="http://172.16.8.8/TravelCommonOperation/RTPNR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPNRInstance">
      <soap12:operation soapAction="http://172.16.8.8/TravelCommonOperation/GetPNRInstance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellSeat">
      <soap12:operation soapAction="http://172.16.8.8/TravelCommonOperation/SellSeat" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PATA">
      <soap12:operation soapAction="http://172.16.8.8/TravelCommonOperation/PATA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <soap12:operation soapAction="http://172.16.8.8/TravelCommonOperation/Issue" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RTPNRAndPATA">
      <soap12:operation soapAction="http://172.16.8.8/TravelCommonOperation/RTPNRAndPATA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FD">
      <soap12:operation soapAction="http://172.16.8.8/TravelCommonOperation/FD" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RMKAuthorize">
      <soap12:operation soapAction="http://172.16.8.8/TravelCommonOperation/RMKAuthorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TravelJsjHttpGet" type="tns:TravelJsjHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="DeletePNR">
      <http:operation location="/DeletePNR" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RTPNR">
      <http:operation location="/RTPNR" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPNRInstance">
      <http:operation location="/GetPNRInstance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellSeat">
      <http:operation location="/SellSeat" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PATA">
      <http:operation location="/PATA" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <http:operation location="/Issue" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FD">
      <http:operation location="/FD" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RMKAuthorize">
      <http:operation location="/RMKAuthorize" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TravelJsjHttpPost" type="tns:TravelJsjHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="DeletePNR">
      <http:operation location="/DeletePNR" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RTPNR">
      <http:operation location="/RTPNR" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPNRInstance">
      <http:operation location="/GetPNRInstance" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SellSeat">
      <http:operation location="/SellSeat" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PATA">
      <http:operation location="/PATA" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Issue">
      <http:operation location="/Issue" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FD">
      <http:operation location="/FD" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RMKAuthorize">
      <http:operation location="/RMKAuthorize" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TravelJsj">
    <wsdl:port name="TravelJsjSoap" binding="tns:TravelJsjSoap">
      <soap:address location="http://172.16.8.8/travelSkynew/TravelJSJ.asmx" />
    </wsdl:port>
    <wsdl:port name="TravelJsjSoap12" binding="tns:TravelJsjSoap12">
      <soap12:address location="http://172.16.8.8/travelSkynew/TravelJSJ.asmx" />
    </wsdl:port>
    <wsdl:port name="TravelJsjHttpGet" binding="tns:TravelJsjHttpGet">
      <http:address location="http://172.16.8.8/travelSkynew/TravelJSJ.asmx" />
    </wsdl:port>
    <wsdl:port name="TravelJsjHttpPost" binding="tns:TravelJsjHttpPost">
      <http:address location="http://172.16.8.8/travelSkynew/TravelJSJ.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>